name: Build Typst Multilingual PDFs

on:
  push:
    paths:
      - '**.typ'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Typst
        uses: typst-community/setup-typst@v3

      - name: Install Chinese and Japanese fonts
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            fonts-noto-cjk fonts-noto-cjk-extra fonts-noto-color-emoji

      - name: Set up font cache
        run: fc-cache -fv

      - name: Compile PDFs
        run: |
          make all

      - name: Upload PDFzh
        uses: actions/upload-artifact@v4
        with:
          name: resume.zh.pdf
          path: output/*.zh.pdf
          if-no-files-found: error
          compression-level: 0
 
      - name: Upload PDFen
        uses: actions/upload-artifact@v4
        with:
          name: resume.en.pdf
          path: output/*.en.pdf
          if-no-files-found: error
          compression-level: 0         

      - name: Upload PDFja
        uses: actions/upload-artifact@v4
        with:
          name: resume.ja.pdf
          path: output/*.ja.pdf
          if-no-files-found: error
          compression-level: 0
          
      - name: Upload PDFja
        uses: actions/upload-artifact@v4
        with:
          name: *_simple.pdf
          path: output/.pdf
          if-no-files-found: error
          compression-level: 0

      - name: Create ZIP of all PDFs
        run: |
          cd output
          zip multilingual-resumes.zip *.pdf

      - name: Upload ZIP
        uses: actions/upload-artifact@v4
        with:
          name: multilingual-resumes-zip
          path: output/multilingual-resumes.zip
          if-no-files-found: error

